@import "tailwindcss";

@utility text-gradient {
    @apply bg-linear-to-r from-[#d6c7ff] to-[#ab8bff] bg-clip-text text-transparent;
}

body {
    background-color: #150c27;
    color: #ffffff;
    padding: 20px;
    /* text-align: center; */
}